.wrap {
	left: 50%;
	margin-left: -200px; /* metade da largura fictícia */
	position: absolute;
	width: 750px;
	top: 50%;
	color: white;
}

.wrapp {
	left: 50%;
	margin-left: -200px; /* metade da largura fictícia */
	position: absolute;
	width: 750px;
	top: 25%;
	color: white;
}

.wrappp{
	position: absolute;
	width: 750px;
	color: white;
	
}

body{
	background-color: black;
}
